* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 150px;
  height: auto;
  margin: 0 auto;
}
body {
 border: 3px solid red;
 display: flex;
 flex-direction: column;
 width: 45%;
 justify-content: center;
}
button {
  width: 45%;
  align-self: center;
  padding: .85rem 1em;
  margin-bottom: 10px;
  margin-top: 12px;
}
p {
  text-align: center;
  font-weight: bold;
}